sistemas/Reserva Salones UCAB/src/Servidor/reservacionlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/reservacionlSchema"
    xmlns:tns="http://xml.netbeans.org/schema/reservacionlSchema"
    elementFormDefault="qualified" xmlns:ns1="http://xml.netbeans.org/schema/horarioSchema" xmlns:ns0="http://xml.netbeans.org/schema/SalonSchema">
    <xsd:import schemaLocation="../Servidor/horarioSchema.xsd" namespace="http://xml.netbeans.org/schema/horarioSchema"/>
    <xsd:import schemaLocation="../Servidor/SalonSchema.xsd" namespace="http://xml.netbeans.org/schema/SalonSchema"/>
    <xsd:element name="reservacion">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ns1:horas"/>
                <xsd:element ref="ns0:Salon"/>
                <xsd:element name="dia" type="xsd:string"></xsd:element>
                <xsd:element name="estado" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>